* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    min-height: 100%;
    margin: 0px;
    overflow-x: hidden;
    line-height: 0.2;
    font-family: 'Open Sans', sans-serif;
    color: #968C83;
}

.logo-nav {
    width: 350px;
    height: 60px;
}

.icon-home {
    height: 20px;
    width: 20px;
}

h3 {
    text-align: center;
}

.post {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-color: lightgrey;
    width: 100%;
    height: 95px;
    background-color: #F3F1F5;
    align-items: center;
}

.icon-post {
    width: 20px;
    height: 20px;
    justify-content: center;
}

textarea {
    background-color: white;
    border-radius: 10px;
    border-style: solid;
    width: 350px;
    outline: none;
}

::placeholder {
    color: #716F81;
    font-size: 12px;
    font-family: 'Open Sans';
}

.menu-nav {
    display: flex;
    justify-content: flex-end;
}

.home {
    display: grid;
    width: 100%;
    height: auto;
}

li {
    list-style: none;
    float: right;
    padding: 10px;
}

a:link {
    color: #968C83;
    text-decoration: none;
}

a:visited {
    color: #423F3E;
}

a:active {
    color: #968C83;
}

a:hover {
    color: #7D5A50;
}

header {
    max-width: 100%;
    height: auto;
}

label {
    padding: 10px;
}

input {
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 2px solid #D6D2C4;
    font-size: 16px;
    margin-bottom: 5px;
    outline: none;
    height: 40px;
    background-color: white;
    color: #5B5B5B;
}

button {
    width: 290px;
    height: 40px;
    background-color: #968C83;
    color: #EEEEEE;
    border-radius: 15px;
    border: 1px black;
    cursor: pointer;
    margin-top: 25px;
    font-weight: 500;
    font-size: 0.8em;
}

.login-btn {
    margin: 25px;
}

.login-google {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    margin-top: 15px;
}

.logo-google {
    width: 20px;
    height: 20px;
}

.container-1 {
    width: 100%;
    height: auto;
    margin-top: 0px;
    min-height: 100%;
}

.acount {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100%;
}

h3 {
    margin-bottom: 5px;
}

.acount-logo {
    width: 95%;
}

.log-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem;
}

.form {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

footer {
    flex-direction: column;
    display: flex;
    justify-content: center;
    font-size: 12px;
    align-items: center;
    height: 20px;
}

hr {
    width: 105px;
    background-color: #968C83;
    height: 2px;
    text-align: start;
    margin: 10px;
    color: #D6D2C4;
}

.division-2 {
    margin: auto;
    width: 10px;
}

.division {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pieform {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    margin-top: 25px;
}

nav {
    width: 100%;
    height: 120px;
}

.login-user {
    line-height: 0.1px;
}