* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    margin: 0;
    overflow-x: hidden;
    line-height: 1.5;
    font-family: 'Open Sans', sans-serif;
    color: #968C83;
}

.logo-nav {
    width: 250px;
    height: 50px;
}

.home {
    display: grid;
    width: 100%;
    height: auto;
}

li {
    list-style: none;
    float: right;
    padding: 10px;
}

a:link {
    color: #968C83;
    text-decoration: none;
}

a:visited {
    color: #423F3E;
}

a:active {
    color: #968C83;
}

a:hover {
    color: #7D5A50;
}

header {
    max-width: 100%;
    height: auto;
}

label {
    padding: 10px;
}

input {
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 2px solid #D6D2C4;
    font-size: 16px;
    margin-bottom: 20px;
    outline: none;
    height: 40px;
    background-color: white;
}

button {
    width: 268px;
    height: 40px;
    background-color: #968C83;
    color: #EEEEEE;
    border-radius: 15px;
    border: 1px black;
    cursor: pointer;
    margin: 10px;
    font-weight: 500;
    font-size: 1.2em;
}

.login-btn {
    margin: 25px;
}

.login-google {
    text-align: center;
    display: flex;
    margin: 10px;
}

.logo-google {
    width: auto;
    height: auto;
    margin-right: 20px;
    margin-left: 20px;
}

.container-1 {
    width: 100%;
    height: auto;
    margin-top: 50px;
    font-size: 1.1em;
}

.acount {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.acount-logo {
    width: 95%;
}
.log-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem;
}
.form {
    display: flex;
    flex-direction: column;
}

footer {
    width: auto;
    height: auto;
    text-align: center;
}

hr {
    width: 100px;
    background-color: #D6D2C4;
    height: 1px;
    text-align: start;
    margin: 10px;
    margin-left: 30px;
    color: #D6D2C4;
}

.division-2 {
    margin: auto;
}

.division {
    display: flex;
}

#signup {
    margin-left: 35px;
}
