* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    min-height: 100%;
    margin: 0px;
    overflow-x: hidden;
    line-height: 0.2;
    font-family: 'Open Sans', sans-serif;
    color: #968C83;
}
/* =============================Container=================================================== */

.container-1 {
    width: 100%;
    height: 95vh;
    margin-top: 0px;
}

.acount {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100%;
}
/* ===================================Header - Nav============================================== */

.acount-logo {
    width: 95%;
}

.header-div {
    height: fit-content;
}

.img-usuario {
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

.logo-nav {
    width: 350px;
    height: 60px;
}

.icon-nav {
    height: 20px;
    width: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.menu-nav {
    display: flex;
    justify-content: flex-end;
}

li {
    list-style: none;
    float: right;
    padding: 10px;
}

a:link {
    cursor: pointer;
    color: #C8C6C6;
    text-decoration: none;
    font-size: 12px;
}

a:visited {
    cursor: pointer;
    color: #423F3E;
}

a:active {
    cursor: pointer;
    color: #968C83;
}

a:hover {
    cursor: pointer;
    color: #7D5A50;
}

header {
    max-width: 100%;
    height: auto;
}
/* ===============================================Publication================================================== */

.post {
    display: flex;
    width: 95%;
    height: 310px;
    padding: 5px;
    margin: auto;
}

.addPublication {
    background-color: #F3F1F5;
    border-color: lightgrey;
    height: 110px;
    padding: 10px;
    width: 100%;
    margin: auto;
    border-radius: 10px;
}

.container-addpost {
    display: flex;
    padding: 10px;
}

.text-publication {
    background-color: white;
    border-radius: 10px;
    border-style: solid;
    width: 80%;
    height: auto;
    outline: none;
    color: #968C83;
    padding: 5px;
    border-color: #F9F9F9;
    text-align: center;
    align-items: center;
}

.texticonspost {
    display: flex;
    width: 90%;
    color: #C8C6C6;
}

.textaddpost {
    color: #C8C6C6;
    cursor: pointer;
    font-size: 5px;
}

 ::placeholder {
    color: #968C83;
    font-size: 12px;
    font-family: 'Open Sans';
}

.getemail {
    font-size: 10px;
    color: #968C83;
    padding: 5px;
}

.photo-publication {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    align-items: center;
}

.icon-post {
    width: 15px;
    height: 15px;
}
/* ===================================================Login SignUp=========================================================== */

.form {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

label {
    padding: 10px;
}

input {
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 2px solid #D6D2C4;
    font-size: 16px;
    margin-bottom: 5px;
    outline: none;
    height: 40px;
    background-color: white;
    color: #5B5B5B;
    width: 100%;
}

.error-message {
    border-color: white;
    height: 55px;
    margin-top: 5px;
    color: #630A10;
    font-family: 'Open Sans';
    overflow-wrap: break-word;
    font-size: 12px;
    width: 300px;
    line-height: 15px;
}

button {
    height: 40px;
    background-color: #968C83;
    color: #EEEEEE;
    border-radius: 15px;
    border: 1px black;
    cursor: pointer;
    margin-top: 25px;
    font-weight: 500;
    font-size: 0.8em;
    width: 312px;
}

.login-btn {
    margin: 25px;
}

.login-google {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    margin-top: 15px;
}

.logo-google {
    width: 20px;
    height: 20px;
}

hr {
    width: 105px;
    background-color: #968C83;
    height: 2px;
    text-align: start;
    margin: 10px;
    color: #D6D2C4;
}

.division-2 {
    margin: auto;
    width: 10px;
}

.division {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pieform {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    gap: 5px;
}
/* ===========================================Profile==================================================================== */

.home {
    display: grid;
    width: 100%;
    height: auto;
}

h3 {
    margin-bottom: 5px;
}

.log-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.name-photo {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.publication {
    height: 100px;
}

.publication p {
    line-height: 10px;
}

.post {
    height: 100px;
}
/*==================================================================home=========================================================*/

h3 {
    text-align: center;
    margin-bottom: 30px;
}

.profile-content {
    margin-top: 50px;
}

.poster {
    background-color: #F3F1F5;
    border-color: lightgrey;
    height: 110px;
    padding: 10px;
    width: 92%;
    margin: auto;
    border-radius: 10px;
    font-size: 8px;
}

.text-poster {
    background-color: white;
    border-radius: 10px;
    border-style: solid;
    width: 100%;
    height: auto;
    outline: none;
    color: #968C83;
    padding: 5px;
}
/* ==========================================Footer================================================= */

footer {
    flex-direction: column;
    display: flex;
    justify-content: center;
    font-size: 12px;
    align-items: center;
    height: 20px;
}
/*================================================================================================================*/

@media (min-width: 800px) {
    .text-publication {
        width: 95%;
    }
}